.JoinPage{
    background-color: rgb(31, 29, 29);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JoinContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.JoinContainer > img{
    width: 7vmax;
}
.JoinContainer > h1{
    color: #fff;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid gray;
    text-align: center;
    padding: 1vmax;
    font-family: "Roboto", sans-serif;
}
#joinInput{
    width: 25vmax;
    padding: 1.3vmax;
    border: none;
    outline: none;
    font-size: 1.4vmax;
    margin: 1.5vmax;
    box-sizing: border-box;
    transition: all 0.3s;
}
.joinbtn{
    width: 25vmax;
    padding: 1.3vmax;
    border: none;
    font-size: 1.2vmax;
    font-weight: bold;
    background-color: #355e3b;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.joinbtn:hover{
    background-color: #006400;
}

@media(max-width: 768px) {
    .JoinContainer {
        width: 80%; /* Adjusted width for smaller screens */
    }

    #joinInput {
        font-size: 1.2vmax; /* Decrease font size for smaller screens */
        padding: 1vmax; /* Adjust padding for smaller screens */
    }

    .joinbtn {
        font-size: 1vmax; /* Decrease font size for smaller screens */
        padding: 1vmax; /* Adjust padding for smaller screens */
    }
}